<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather App</title>
</head>
<body>
    {{>header}}
    <div class = "main">
        <h2 class="thank">Thank you for visiting!</h2>
        <h2>An easy to use website to get the weather details of the location entered by you in real time. Find details such as the temperature, precipitation, wind speed & more.</h2>
        <div class="link">
            <a href="https://github.com/NinadSutrave/midday">Github Repo</a>
        </div>
    </div> 
    {{>footer}}
</body>
</html>