@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Asap:wght@700&family=Roboto:wght@300;500&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}

body {
    color: #333333;
    max-width: 487.5px;
    margin: 0 auto;
    padding: 0 1rem;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content, .main {
    color: black;
    margin-top: 2rem;
    padding: 1rem;
    width: 88%;
    height: 37.5vh;
    border: 1px solid black;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 8px 20px 20px rgba(0,0,0,0.5);
}

.main {
    padding-top: 6rem;
    height: 20vh;
}

footer {
    color: #000000;
    border-top: 1px solid #000000;
    margin-top: 1rem;
    padding: 1rem 0;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
}

header {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    text-align: center;
}

a {
    color: rgb(4, 0, 255);
    font-size: 1.2rem;
}

.link {
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.link a {
    font-size: 1rem;
}

.nav-links {
    color: #333333;
    margin-right: 1rem;
    font-size: 1.125rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

input {
    border: 1px solid #ccc;
    width: 70%;
    padding: 0.35rem;
}

input::-webkit-input-placeholder {
    font-size: 0.75rem;
}

button {
    border: 1px solid #ccc;
    font-size: 0.75rem;
    background: #888;
    color: white;
    padding: 0.5rem;
    width: 20%;
    margin-left: 0.5rem;
    transition: ease-out 0.3s;
}

button:hover {
    cursor: pointer;
    background: #333333;
}

.nav {
    display: flex;
    align-items: center;
}
input {
    font-size: 1rem;
}
#location {
    font-size: 1.125rem;
}
#time {
    font-size: 1.125rem;
}
#temp {
    margin-top: 0.75rem;
    font-size: 1.875rem;
}
#descp {
    font-size: 1.125rem;
}

#feelslike, #precip, #wind-speed {
    font-size: 0.9rem;
}

#feelslike {
    margin-top: 1.5rem;
}

.thank {
    font-size: 1.5rem;
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 2rem;
}

.about {
    font-size: 1rem;
}

@media screen and (max-width: 500px) {

    h1 {
        font-size: 4rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    input {
        width: 60%;
    }

    #location {
        font-size: 1.5rem;
    }
    #time {
        font-size: 1.5rem;
    }
    #temp {
        margin-top: 1rem;
        font-size: 2.5rem;
    }
    #descp {
        font-size: 1.5rem;
    }
    
    #feelslike, #precip, #wind-speed {
        font-size: 1.2rem;
    }
    
    #feelslike {
        margin-top: 2rem;
    }
    
}

